<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EurovisionApp"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDvAm7CYSzQVYq5nvphwPskXTbbCAAxMnc" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyTops">
        </activity>
        <activity
            android:name=".Top2023">
        </activity>
        <activity
            android:name=".LoginActivity">
        </activity>
        <activity
            android:name=".RegisterActivity">
        </activity>
        <activity
            android:name=".MyAppPrefs">
        </activity>
        <activity
            android:name=".VideoActivity">
        </activity>
        <activity
            android:name=".ProfileSettingsActivity">
        </activity>
        <activity
            android:name=".NotificationActivity">
        </activity>
        <activity
            android:name=".OverallActivity">
        </activity>
        <activity
            android:name=".OddsActivity">
        </activity>
        <activity
            android:name=".ResultsActivity">
        </activity>
        <activity
            android:name=".LocationsActivity">
        </activity>

        <service android:name=".BackgroundMusicService" />

    </application>

</manifest>